.create-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .create-product h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .create-product p {
    font-size: 16px;
    margin-bottom: 20px;
  }